html {
    font-family: 'Inter Regular', 'Arial', sans-serif;
}

body {
    margin: 0;
    background-color: #1e1e1e;
    width: 360px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    box-sizing: border-box;
}

.content-section_theme_dark {
    color: var(--text-light, #F5F5F5);
    background: var(--black-bg, #131313);
}

.content-section_theme_bright {
    color: var(--black-bg, #131313);
    background: var(--yellow-bg, #FEE42A);
}

.card_theme_dark {
    border-radius: 30px;
    color: var(--text-light, #F5F5F5);
    background: var(--gray-bg, #343434);
}

.card_theme_bright {
    border-radius: 30px;
    color: var(--black-bg, #131313);
    background: var(--yellow-bg, #FEE42A);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.header {
    display: flex;
    width: 360px;
    padding: 24px 20px;
    justify-content: space-between;
}

.header img {
    height: 15px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.header__menu-item_active {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-light, #F5F5F5);
}

.header__menu-link {
    font-size: 16px;
    text-decoration: underline;
    color: var(--text-light, #F5F5F5);
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 360px;

    background: var(--black-bg, #131313);
}

.cover {
    display: grid;
    padding: 24px 20px;
    width: 360px;
    min-height: 198px;
    
    background-image: url(/images/cover.svg);
    background-repeat: no-repeat;
    background-size: 91% auto;
    background-position: right;
}

.cover__title {
    font-family: 'EB Garamond Regular';
    font-size: 72px;
}

.accent-span {
    font-family: 'EB Garamond Regular';
    font-size: 28px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 20px;
    gap: 24px;
    color: var(--text-gray, #CCC);
}

.intro__heading {
    display: flex;
}

.intro__main-text{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    line-height: 21.6px;
}

.intro__date {
    white-space: nowrap;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 40px 20px;
    width: 320px;
}

.content-section__subtitle {
    display: grid;
    width: 360px;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: disc;
}

.content-section__list-item{
    word-wrap: normal;
    line-height: 21.6px;
    font-size: 16px;
    width: 95%;
}

.content-section__list-accent {
    font-family: 'Inter Bold';
}

.cards-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto 60px auto;
    gap: 32px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
}

.card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    font-family: 'Inter Bold';
    font-size: 16px;
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card__title {
    font-family: 'EB Garamond Medium';
    font-size: 22px;
    line-height: 29.7px;
}

.card__text {
    line-height: 21.6px;
}

.card_text-only {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 8px;
    padding: 20px;
    width: 320px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid var(--yellow-bg, #FEE42A);
}

.footer__links {
    display: flex;
    gap: 16px;
} 

.footer__links a {
    font-size: 14px;
    text-decoration: none;
    color: var(--text-light, #F5F5F5);
}